<div id="mainPageBody">
    <div id="left" (mousemove)="paralacs($event)">
        <div id="leftAvatarBorder">
            <div id="leftAvatar"></div>
        </div>
        <h1 id="nick">Sicmundus</h1>
        <!-- 20 symbols, no more -->
        <div id="infoBox"></div>
        <h3 id="postCount">Posts: 1</h3>
    </div>
    <div id="right">
        <div id="menu">
            <a href="">
                <img src="../assets/AllPosts.png" alt="" id="menuIcon1">
            </a>
        </div>
        <div id="main">
            <app-posts></app-posts>
        </div>
    </div>
</div>